html {
    position: relative;
    /*for sticky footer */
    min-height: 100%;
    /*for sticky footer */
    min-width: 100%;
}

body {
    background-color: floralwhite; 
    margin-bottom: 40px;
    transition: 0.3s all;  
}

.changeColor {
    background: black;
}


.artPic {
    height: 250px;
    width: 250px; 
    margin: 10px; 
    margin-left: 20px; 
    border-width: 10px;
    border-style: ridge;
    border-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 10px 10px 5px grey;
}

.artPic:hover {
    text-decoration: none;
    cursor: pointer;
   
}

.grid-1 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  object-fit: cover;
}

@media(min-width: 1600px) {
    .grid-1 {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2px;
        margin-left: 40px; 
    }
}

#mainHeader {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    margin-top: 10px;
    text-shadow: 4px 4px 4px grey, -4px 4px 4px grey, 4px 4px 4px grey, -4px 4px 4px grey;
}

#mainHeader:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    border-bottom: 20px double rgba(255, 255, 255, 0.5);
}


.displayNone {
    display: none;
}

.dl-wrapper {
    text-align: center;
}

.ks-container {
    display: inline-block;
}

.dl-container {
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
}

.navbar {
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
}

.h-font {
    color: black;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*vertically centers */
}

.footerText {
    color: black;
    font-size: 12px;
}
