html {
    position: relative;
    /*for sticky footer */
    min-height: 100%;
    /*for sticky footer */
    min-width: 100%;
}

body {
    background-color: black; 
    margin-bottom: 40px;
    transition: 0.3s all;  
}

.changeColor {
    background: white;
}


.artPic {
    height: 300px;
    width: 300px; 
    margin: 10px 20px;  
}

.grid-1 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}


.displayNone {
    display: none;
}

.dl-wrapper {
    text-align: center;
}

.dl-container {
    align-items: center;
}

.ks-container {
    display: inline-block;
}

.dl-container {
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*vertically centers */
}

.footerText {
    color: white;
    font-size: 12px;
}

.main {
    /* margin-top: 78px;
    margin-bottom: 78px; */
}